.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; /* Negative margin to offset padding inside cards */
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: calc(20% - 20px); /* Adjust width for 5 cards in a row */
    box-sizing: border-box; /* Include border and padding in width calculation */
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 10px;
}
.card-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.card-category {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}
.card-price {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
  
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
  
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
    transform: translateX(0);
  }