<!doctype html>
{% load static %}
{% load bootstrap5 %}
<html class="no-js" lang="zxx">
  {% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block tittle %}<title>Fine Surgical bio medical equipment supplier</title>{% endblock %}
    <meta name="robots" content="index, follow" />
    <meta name="description" content="">
    <link rel="canonical" href="https://www.finesurgicalsnepal.com/" />
            {% block meta %}
        <meta name="description" content="Fine Surgicals Nepal provides high-quality biomedical equipment and surgical instruments for hospitals and clinics across Nepal.">
        <meta name="keywords" content="biomedical equipment, surgical instruments, hospital supplies, medical devices Nepal">
        {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jsPDF library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<script>
  $(document).ready(function() {
    $('#carouselExampleControls').carousel();
  });
</script>

    
    

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="/static/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="/static/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/webfonts/fa-regular-400.ttf">
</head>

{% comment %} {% block body %} {% endcomment %}
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">

    <!-- HEADER AREA START (header-3) -->
    <header class="ltn__header-area ltn__header-3">       
        <!-- ltn__header-top-area start -->
        <div class="ltn__header-top-area border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li><a href="mailto:finesurgicalsales@gmail.com?Subject=Flower%20greetings%20to%20you"><i class="fa-solid fa-envelope"></i>support@finesurgical.com</a></li>
                                <li><a><i class="fa-solid fa-location-dot"></i></i>Chabahil,kathmandu,Nepal</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-bar-right text-right text-end">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                                                                                                
                                    <li>
                                        <!-- ltn__social-media -->
                                        <div class="ltn__social-media">
                                            <ul>
                                                <li><a href="https://www.facebook.com/profile.php?id=61559897785810" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                
                                                <li><a href="https://www.instagram.com/finesurgicalsnepal/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                <li><a title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkoutModalLabel">Checkout Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="checkoutForm">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="tel" class="form-control" id="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Delivery address</label>
                            <input type="text" class="form-control" id="address" required>
                        </div>
                        <div class="form-group">
                            <label for="deliveryTime">Expected delivery time</label>
                            <input type="date" class="form-control" id="deliveryTime" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitCheckout">Submit</button>
                </div>
            </div>
        </div>
    </div>
        <!-- ltn__header-top-area end --> 
        <!-- ltn__header-middle-area start -->
        <div class="ltn__header-middle-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo">
                            <a href="{%url "home" %}"><img src="/static/img/finesurgicalslogo.jpg" alt="Logo"width="150" height="100"></a>
                        </div>
                    </div>
                    <div class="col header-contact-serarch-column d-none d-lg-block">
                        <div class="header-contact-search">
                            <!-- header-feature-item -->
                            <div class="header-feature-item">
                                <div class="header-feature-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="header-feature-info">
                                    <h6>Phone</h6>
                                    <p><a href="tel:9851317338">9851317338</a></p>
                                </div>
                            </div>
                            <!-- header-search-2 -->
                            <div class="header-search-2">
                                <form id="search-form" method="get" action="/search">
                                    <input id="search" type="text" name="search" value="" defaultValue:"" placeholder="Search here..."/>
                                    <button type="submit">
                                        <span><i class="fa-solid fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true" {% if query %}style="display: block;"{% endif %}>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="searchModalLabel">Search Results</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul id="search-results">
                                        {% if results %}
                                            {% for result in results %}
                                                <li>{{ result.name }}</li>  <!-- Adjust the field name -->
                                            {% endfor %}
                                        {% else %}
                                            <li>No results found</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- header-options -->
                        <div class="ltn__header-options">
                            <ul>
                            
                                <li class="d-lg-none">
                                    <!-- header-search-1 -->
                                    <div class="header-search-wrap">
                                        <div class="header-search-1">
                                            <div class="search-icon">
                                                <i class="icon-search  for-search-show"></i>
                                                <i class="icon-cancel  for-search-close"></i>
                                            </div>
                                        </div>
                                        <div class="header-search-1-form">
                                            <form id="#" method="get"  action="#">
                                                <input type="text" name="search" value="" placeholder="Search here..."/>
                                                <button type="submit">
                                                    <span><i class="icon-search"></i></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none---"> 
                                    <!-- user-menu -->
                                    <div class="ltn__drop-menu user-menu">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon-user"></i></a>
                                                <ul>
                                                    <li><a href='{% url 'login' %}'>Sign in</a></li>
                                                    <li><a href="{% url 'register' %}">Register</a></li>
                                                    <li><a href="{% url 'logout' %}">logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% block cart %}
                            <li>
                                <!-- mini-cart 2 -->
                                <div class="mini-cart-icon mini-cart-icon-2">
                                    <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                                        <span class="mini-cart-icon">
                                            <i class="cart"></i>
                                            <sup><span id ='cart'>0</span></sup>
                                        </span>
                                        <h6><span>Your Cart</span> <span class="ltn__secondary-color"></span></h6>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            {% if user.is_authenticated %}
                                                <p>Welcome, {{ user.username }}!</p>
                                            {% else %}
                                                <p>Not logged in</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {%endblock%} 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

         <!-- Utilize Cart Menu Start -->
         {% block cartmenu %}
<div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <span class="ltn__utilize-menu-title">Cart</span>
            <button class="ltn__utilize-close">×</button>
        </div>
        
        <div id="cartsubmenu" class="mini-cart-product-area ltn__scrollbar">
            <!-- Cart items dynamically generated by JavaScript -->
        </div>

        <div class="mini-cart-footer">
            <div class="mini-cart-sub-total">
                <h5>Subtotal: <span id="subtotal">${{ total_price }}</span></h5>
            </div>
            <div class="btn-wrapper">
                <a href="" class="theme-btn-2 btn btn-effect-2">Checkout</a>
            </div>
            <p>Faster delivery all over the Nepal</p>
        </div>
    </div>
</div>

{%endblock%}
    
    <!-- Utilize Cart Menu End -->
    
    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="{% url 'home' %}"><img src="/static/img/finesurgicalslogo.jpg" alt="Logo"></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu-search-form">
                <form action="#">
                    <input type="text" placeholder="Search...">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a>
                       
                    </li>
                    <li><a href="{% url 'service' %}">Our Services</a>

                    </li>
                    <li><a href="{% url 'product' %}">Products</a>
                    </li>
                    <li><a href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li><a href="{% url 'contact' %}">Contact us</a>

                    </li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                <ul>
                    <li>
                        <a href="account.html" title="My Account">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
                            My Account
                        </a>
                    </li>
                    <li>
                        <a href="wishlist.html" title="Wishlist">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                                <sup>3</sup>
                            </span>
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a href="cart.html" title="Shoping Cart">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
                            Shoping Cart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="https://www.facebook.com/p/Finesurgicalsnepal-61559897785810/" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/fine-surgical-0608aa318/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/finesurgicalsnepal/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
        
        <!-- ltn__header-middle-area end -->
        <!-- header-bottom-area start -->
        <div class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col header-menu-column justify-content-center">
                        <div class="sticky-logo">
                            <div class="site-logo">
                                <a href="index.html"><img src="/static/img/finesurgicalslogo.jpg" alt="Logo"width="150" height="100"></a>
                            </div>
                        </div>
                        <div class="header-menu header-menu-2">
                            <nav>
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li class="menu-icon"><a href="{% url 'home' %}">Home</a>
                                            
                                        </li>
                                        <li class="menu-icon"><a href="{% url 'service' %}">Our Services</a>
                                                                                </li>
                                        <li class="menu-icon"><a href="{% url 'product' %}">Product</a>
                                            
                                        </li>
                                        <li class="menu-icon"><a href="{% url 'portfolio' %}">portfolio</a>


                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area end -->
    </header>
    <!-- HEADER AREA END -->

    <!-- MOBILE MENU START -->
    <div class="mobile-header-menu-fullwidth mb-30 d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-lg-none">
                        <span>MENU</span>
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MOBILE MENU END -->

   

    
    <!-- Utilize Mobile Menu End -->
    {% block BREADCRUMB %}
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        {% for product, range, nslides in allprods %}
                            {% for item in product %}
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="ltn__product-item ltn__product-item-3 text-left">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="{{ item.image.url }}" alt="{{ item.alt }}" height="200">
                                        </a>
                                        
                                    </div>
                                    <div class="product-info">
                                        <h2 class="product-title">
                                            <a href="product-details.html">{{ item.product_name }}</a>
                                        </h2>
                                        <div class="product-price">
                                            <span>{{ item.price }}</span>
                                            <del>{{ item.prev_price }}</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:5 and not forloop.last %}
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endblock %}
    {% endblock %}
    {% block body %}
    {% endblock %}


      <footer>

        <!-- CALL TO ACTION START (call-to-action-6) -->
        <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="/static/img/1.jpg--">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                          <div class="coll-to-info text-color-white">
                              <h1>"Delivering Excillence in Health care solution in Nepal"</h1>
                          </div>
                          <div class="btn-wrapper">
                              <a class="btn btn-effect-3 btn-white" href="{% url 'product' %}">Explore Products <i class="icon-next"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- CALL TO ACTION END -->
  
       <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img src="/static/img/finesurgicalbg.jpg" alt="Logo">
                                </div>
                            </div>
                            <p>Fine surgicals nepal is the Bio medical company that aims to provide quality biomedical product all over the nepal quicker and in low time cost</p>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Ganesthan, Chabahil, Kathmandu</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+977 9851317338">+977 9851317338</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:finesurgicalsales@gmail.com">finesurgicalsales@gmail.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=61559897785810" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/fine-surgical-0608aa318/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="https://www.instagram.com/finesurgicalsnepal/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Company</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href={% url 'service' %}>Ourservices</a></li>
                                    <li><a href={% url 'portfolio' %}>portfolio</a></li>
                                    <li><a href={% url 'product' %}>All Products</a></li>
                                    <li><a>FAQ</a></li>
                                    <li><a>Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Services</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a>Terms & Conditions</a></li>
                                    <li><a href={% url 'product' %}>Promotional Offers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Care</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a>FAQ</a></li>
                                    <li><a href={% url 'contact' %}>Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>All Rights Reserved @Finesurgicalsnepal <span class="current-year"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-end">
                            <ul>
                                <li><a>Terms & Conditions</a></li>
                                <li><a>Claim</a></li>
                                <li><a>Privacy & Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->

</div>
<!-- Body main wrapper end -->
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="/static/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>
    <script>
        // Initialize cart from localStorage or create new if empty
        var cart = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : {};
      
        $(document).ready(function() {
            $('.add-to-cart').click(function () {
                var idstr = $(this).data('product');  // Product ID
                var name = $(this).data('name');      // Product Name
                var price = parseFloat($(this).data('price'));  // Product Price
                var imageUrl = $(this).data('image-url');
                var description = $(this).data('desc'); // Assuming description is available as a data attribute
      
                // Update cart with product details
                if (cart[idstr] !== undefined) {
                    // Product already exists in cart, increment quantity
                    cart[idstr].quantity += 1;
                } else {
                    // Add new product to cart
                    cart[idstr] = {
                        name: name,
                        price: price,
                        quantity: 1,
                        image_url: imageUrl,
                        desc: description
                    };
                }
      
                // Update localStorage
                localStorage.setItem('cart', JSON.stringify(cart));
      
                // Update UI
                updateCartTotal();
            });
      
            // Function to update cart total and display
            function updateCartTotal() {
                var totalItems = 0;
                var totalAmount = 0; // Variable to store total amount in cart
                var cartContent = '';
      
                // Calculate total items and generate cart content HTML
                for (var key in cart) {
                    if (cart.hasOwnProperty(key)) {
                        totalItems += cart[key].quantity;
            
                        // Calculate total amount for this product
                        var subtotal = cart[key].quantity * cart[key].price;
                        totalAmount += subtotal;
            
                        cartContent += `
                            <div class="mini-cart-item clearfix">
                                <div class="mini-cart-img">
                                    <a href="#"><img src="${cart[key].image_url}" alt="Image"></a>
                                    <span class="mini-cart-item-delete" data-product="${key}"><i class="icon-cancel"></i></span>
                                </div>
                                <div class="mini-cart-info">
                                    <h6><a href="#">${cart[key].name}</a></h6>
                                    <span class="mini-cart-quantity">${cart[key].quantity} x ${cart[key].price} = ${subtotal.toFixed(2)}</span>
                                </div>
                            </div>
                        `;
                    }
                }
      
                // Display total items in cart
                document.getElementById('cart').innerHTML = totalItems;
      
                // Display cart items in the cart submenu container
                var cartsubmenu = document.getElementById('cartsubmenu');
                cartsubmenu.innerHTML = cartContent;
      
                var subtotalElement = document.getElementById('subtotal');
                subtotalElement.textContent = totalAmount.toFixed(2);
      
                // Attach event listener to delete items from cart
                $('.mini-cart-item-delete').click(function() {
                    var productId = $(this).data('product');
                    // Remove the item from cart
                    delete cart[productId];
                    // Update localStorage
                    localStorage.setItem('cart', JSON.stringify(cart));
                    // Update UI
                    updateCartTotal();
                });
            }

            function generateEmailContent(cart, userDetails) {
                let subject = `Order Confirmation - Email: ${userDetails.email}, Phone: ${userDetails.phone}, Address: ${userDetails.address}, Delivery Time: ${userDetails.deliveryTime}`;
                let body = `Hello,\n\nYour cart contains the following items:\n\n`;
                for (let key in cart) {
                    if (cart.hasOwnProperty(key)) {
                        body += `${cart[key].quantity} x ${cart[key].name} at $${cart[key].price} each\n`;
                    }
                }
                body += `\nTotal: $${Object.values(cart).reduce((sum, item) => sum + item.quantity * item.price, 0).toFixed(2)}\n\n`;
                body += `Thank you for your purchase!\n\nBest regards,\nYour Company`;
        
                // Encode subject and body
                subject = encodeURIComponent(subject);
                body = encodeURIComponent(body);
        
                return `mailto:"Abhayadhakal456@gmail.com"?subject=${subject}&body=${body}`;
            }
        
            // Event listener for checkout button
            $('#checkoutButton').click(function (e) {
                e.preventDefault();
                $('#checkoutModal').modal('show');
            });
        
            // Event listener for submit button in the modal
            $('#submitCheckout').click(function (e) {
                e.preventDefault();
                let userEmail = $('#email').val();
                let userPhone = $('#phone').val();
                let userAddress = $('#address').val();
                let userDeliveryTime = $('#deliveryTime').val();
        
                if (userEmail && userPhone && userAddress && userDeliveryTime) {
                    let userDetails = {
                        email: userEmail,
                        phone: userPhone,
                        address: userAddress,
                        deliveryTime: userDeliveryTime
                    };
                    let mailtoLink = generateEmailContent(cart, userDetails);
                    window.location.href = mailtoLink;
                }
            });
      
            // Function to generate PD
            
            

        
        
            // Initial call to updateCartTotal to populate cart on page load
            updateCartTotal();
        });
            
      </script>

      {% if user.is_superuser %}
      <script>

        function generatePDF() {
            var { jsPDF } = window.jspdf;
            var doc = new jsPDF();
            var serialNumber = 1;
        
            var tableBody = [];
            var promises = [];
            var headerImage = '/static/img/header/fine_surgical.png'; // Replace with your header image path
            var footerImage = '/static/img/header/footer.jpg'; // Replace with your footer image path
        
            for (var key in cart) {
                if (cart.hasOwnProperty(key)) {
                    (function (key, serialNumber) {
                        var item = cart[key];
                        var row = [];
        
                        // Serial Number
                        row.push(serialNumber);
        
                        // Create a promise to load the image
                        var promise = new Promise(function (resolve, reject) {
                            var img = new Image();
                            img.src = item.image_url;
                            img.crossOrigin = 'Anonymous'; // Handle CORS issues if the images are hosted on another domain
        
                            img.onload = function () {
                                var canvas = document.createElement('canvas');
                                canvas.width = img.width;
                                canvas.height = img.height;
                                var ctx = canvas.getContext('2d');
                                ctx.drawImage(img, 0, 0);
                                var imgData = canvas.toDataURL('image/PNG');
                                resolve(imgData);
                            };
        
                            img.onerror = function () {
                                console.error("Error loading image for product ID " + key);
                                resolve(null); // Resolve with null if there's an error
                            };
                        });
        
                        promises.push(promise);
        
                        // Add product details (without image)
                        row.push(''); // Placeholder for image
                        row.push(item.name);
                        row.push(item.desc);
                        row.push(item.price.toFixed(2));
                        row.push(item.quantity);
        
                        // Add amount (quantity * price)
                        var amount = (item.price * item.quantity).toFixed(2);
                        row.push(amount);
        
                        tableBody.push(row);
                    })(key, serialNumber);
        
                    serialNumber++;
                }
            }
        
            // Wait for all image promises to be resolved
            Promise.all(promises).then(function (imageDataArray) {
                // Rebuild the tableBody with resolved image data
                for (var i = 0; i < tableBody.length; i++) {
                    if (imageDataArray[i]) {
                        tableBody[i][1] = { content: '', image: imageDataArray[i], width: 20, height: 20 };
                    } else {
                        tableBody[i][1] = 'Image not available';
                    }
                }
        
                var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
                var headerImageWidth = pageWidth * 0.9;
                var headerImageHeight = 20; // Define header image height
                var startY = headerImageHeight + 15; // Define starting Y position for the table to avoid overlapping
        
                doc.autoTable({
                    head: [['S.No', 'Image', 'Product Name', 'Description', 'Price', 'Quantity', 'Amount']],
                    body: tableBody,
                    didDrawCell: function (data) {
                        if (data.column && data.column.index === 1 && data.cell.section === 'body' && data.cell.raw && data.cell.raw.image) {
                            console.log("Adding image to PDF at cell:", data.row.index + 1);
                            try {
                                // Calculate image height while maintaining aspect ratio
                                var imgHeight = (data.cell.raw.height / data.cell.raw.width) * 28;
                                doc.addImage(data.cell.raw.image, 'PNG', data.cell.x + 2, data.cell.y + 2, 26, imgHeight);
                            } catch (error) {
                                console.error("Error adding image to PDF for cell:", data.row.index + 1, error);
                            }
                        }
                    },
                    styles: {
                        cellPadding: 2, // Adjust the padding inside each cell
                        minCellHeight: 25, // Set minimum cell height for all cells
                        head: {
                            fontSize: 18, // Adjust the font size of the header cells
                            fillColor: [0, 0, 255], // Set the background color of header cells to RGB(0, 0, 255)
                        }
                    },
                    didParseCell: function (data) {
                        if (data.column.index === 3) { // Check if the column is "Description"
                            var textHeight = doc.getTextDimensions(data.cell.raw).h;
                            data.cell.styles.minCellHeight = Math.max(data.cell.styles.minCellHeight, textHeight + 5); // Adjust row height based on text height
                        }
                    },
                    columnStyles: {
                        1: { cellWidth: 30 } // Set the width of the image column
                    },
                    rowPageBreak: 'auto',
                    bodyStyles: { valign: 'top' },
                    startY: startY, // Start the table after the header image
                    headStyles: {
                        fontSize: 12, // Adjust the font size for the table header
                        cellPadding: 2,
                        fillColor: [0, 123, 255],
                        minCellHeight: 15,
                    },
                    didDrawPage: function (data) {
                        // Header
                        doc.addImage(headerImage, 'PNG', (pageWidth - headerImageWidth) / 2, 10, headerImageWidth, headerImageHeight);
                        
                        // Footer
                        var footerImageHeight = 50; // Fixed height for the footer image
                        var footerImageWidth = 55; // Fixed width for the footer image
                        var marginRight = 10; // Margin from the right side of the page
                        var xPosition = marginRight;
                        var yPosition = doc.internal.pageSize.height - footerImageHeight - 10;
                        doc.addImage(footerImage, 'PNG', xPosition, yPosition, footerImageWidth, footerImageHeight);
                    }
                    
                });
        
                doc.save('cart.pdf');
            }).catch(function (error) {
                console.error("Error generating PDF:", error);
            });
        }
        
        // Attach event listener to generate PDF button
        $('#generate-pdf').click(function () {
            generatePDF();
        });


        $(document).ready(function() {
            $('#carouselExampleControls').carousel();
          });



      </script>

      {% else %}
      <script>console.log("you aint admin bro")</script>
      
      {% endif %}
      
      
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            const carousel = document.querySelector('#productCarousel');
            const carouselInstance = new bootstrap.Carousel(carousel, {
                interval: 3000,
                wrap: true,
                touch: true
            });
        
            carousel.addEventListener('slide.bs.carousel', function (e) {
                const itemsPerSlide = 5;
                const totalItems = document.querySelectorAll('.carousel-item .col-lg-2').length;
                const items = document.querySelectorAll('.carousel-item.active .col-lg-2');
        
                if (e.direction === 'left') {
                    const newItems = [...items].slice(1, itemsPerSlide).concat([...items].slice(0, 1));
                    newItems.forEach((item, index) => {
                        items[index].replaceWith(item);
                    });
                } else if (e.direction === 'right') {
                    const newItems = [...items].slice(-1).concat([...items].slice(0, itemsPerSlide - 1));
                    newItems.forEach((item, index) => {
                        items[index].replaceWith(item);
                    });
                }
            });
        });
        

    </script>

    
{% endblock %}
</body>
</html>
